@import 'variables';
@import 'normalize';
@import 'wp-normalize';

/* =============================================================================
   Global
   ========================================================================== */
$max-view-site-width : 960px;
.section {
	width:100%;
}
.section-inner {
	width: $max-view-site-width;
	margin:0 auto;
}


/* =============================================================================
   Header
   ========================================================================== */



/* =============================================================================
   Slideshow
   ========================================================================== */



/* =============================================================================
   Homepage Exclusive Styles
   ========================================================================== */



/* =============================================================================
   Content
   ========================================================================== */



/* =============================================================================
   Sidebar
   ========================================================================== */



/* =============================================================================
   Contact Form
   ========================================================================== */



/* =============================================================================
  Footer
   ========================================================================== */



 /* =============================================================================
  Helpers
   ========================================================================== */
@import 'utility';
@import 'print';

